@import url("https://fonts.googleapis.com/css2?family=Island+Moments&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #fffaf8;
  background-image: url("./assets/bg.png");
  background-repeat: repeat;
  background-position: center center;
  background-size: auto;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #f6d2c3;
}

::-webkit-scrollbar-thumb {
  background: #e0673b;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #f69f7a;
}
